---
import "@fontsource-variable/jetbrains-mono";
import { CollectionEntry, getCollection } from "astro:content";
import { format } from "date-fns";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { ContentContainer } from "../../components/ContentContainer";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import { SectionHeader } from "../../components/SectionHeader";
import clsx from "clsx";
// MD components
import Pre from "@components/blog/Pre.astro";
import "@styles/blogpost.pcss";
import { TableOfContents } from "@components/blog/TableOfContents";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { ...post },
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<DefaultLayout
  title={`${post.data.title} | Grant Sander`}
  description={post.data.metaDescription || post.data.description}
  keywords={post.data.keywords}
  image={`/og/blog/${post.slug}.jpeg`}
  isFat={true}
  hasKatex={post.data.hasMath}
>
  <ContentContainer
    class="py-12 grid grid-cols-1 lg:grid-cols-[1fr,300px] gap-x-12 gap-y-12"
    isFat={true}
  >
    <SectionHeader
      subtitle={format(post.data.pubDate, "MMMM d, yyyy")}
      align="left"
      hasGradientTitle={true}
      isLarge={true}
    >
      {post.data.title}
    </SectionHeader>

    <div class="flex-grow overflow-hidden col-start-1">
      <div
        class={clsx(
          "max-w-none prose dark:prose-invert",
          "prose-code:before:hidden prose-code:after:hidden prose-code:px-1.5 prose-code:py-0.5 prose-code:rounded prose-code:bg-gray-100 dark:prose-code:bg-gray-700 prose-code:font-medium",
          "hover:prose-a:text-primary-700 dark:hover:prose-a:text-primary-300",
        )}
      >
        <Content components={{ pre: Pre }} />
      </div>
    </div>

    <TableOfContents headings={headings} client:visible />
  </ContentContainer>
</DefaultLayout>
